.home{
	&-header{
		position: relative;
		&:before{
			content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 1;
		    pointer-events: none;
		    background: linear-gradient(180deg, rgba(5,50,34,0) 0%, #053222 100%);
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 167%;
			pointer-events: none;
			background-image: url(../img/light.png);
			background-repeat: no-repeat;
			background-size: cover;
			animation: lightAnimation 2s ease-in-out infinite;
		}
		.el__wrap{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
			&::before {
				content: '';
				position: absolute;
				top: 100px;
				left: 0;
				z-index: 2;
				width: 100%;
				height: 104%;
				pointer-events: none;
				background-image: url(../img/header-cloud.png);
				background-size: contain;
				background-position: bottom center;
				background-repeat: no-repeat;
			}
		}
		.el__meta{
			position: relative;
		    height: 100%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-direction: column;
		    background-image: url(../img/header-grid.png);
			background-size: contain;
			background-position: center;
		}
		.ratio{
			--bs-aspect-ratio: calc(6.5 / 16 * 100%);
			min-height: 700px;
		}
		.el__title{
			font-family: Changa;
			font-style: normal;
			font-weight: 800;
			font-size: 86px;
			line-height: 86px;
			/* or 100% */

			text-align: center;
			text-transform: uppercase;

			color: #FFFFFF;
			margin-bottom: 32px;

			text-shadow: 0px 2px 2px #034110;
		}
		.el__excerpt{
			font-family: Roboto;
			font-weight: normal;
			font-size: 24px;
			line-height: 34px;
			text-align: center;
			color: #F8FFFC;
			margin-bottom: 66px;
		}

	}

	&-intro{
		position: relative;
		padding: 100px 0 200px;
		z-index: 3;
		overflow: hidden;
		&:after{
			content: '';
		    position: absolute;
		    bottom: -100px;
		    left: 0;
		    width: 100%;
		    height: 46%;
		    background: url(../img/home-intro-bottom.png);
		    background-repeat: no-repeat;
		    pointer-events: none;
		    z-index: -3;
		}
		.el__box{
			position: relative;

			padding: 45px 38px;
			&:before{
				content: '';
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background: url(../img/home-intro-video.png);
			    background-repeat: no-repeat;
			    background-size: contain;
			    pointer-events: none;
			    background-position: center;
			    z-index: -1;
			}
			&__header{
			    position: relative;
			    background: rgba(37,176,93,0.1);
			    border-radius: 0px 0px 80px 80px;
			    max-width: 66%;
			    left: 17%;
			}
			&__title{
				font-family: Changa;
				font-style: normal;
				font-weight: 800;
				font-size: 18px;
				/* identical to box height, or 0% */

				text-align: center;
				letter-spacing: 0.93em;
				text-transform: uppercase;

				/* texxt */

				color: #F8FFFC;
			}
			.ratio{
				--bs-aspect-ratio: 50%;
				border-radius: 40px;
				overflow: hidden;
			}
			&__decorate{
				pointer-events: none;
				&:before{
					content: '';
				    position: absolute;
				    top: -19%;
    				right: -17%;
				    width: 28.4%;
					height: 36.4%;
				    background: url(../img/home-intro-right.png);
				    background-repeat: no-repeat;
				    background-size: contain;
				    animation: lightAnimation 1s ease-in-out infinite;
				}
				&:after{
					content: '';
					position: absolute;
					bottom: -21%;
					left: -18%;
					width: 43.6%;
					height: 40%;
					background: url(../img/home-intro-left.png);
					background-repeat: no-repeat;
					background-size: contain;
					animation: lightAnimation 1s ease-in-out infinite;
				}

				.-circle{
					&:before{
						content: '';
						position: absolute;
						top: 6%;
						left: -8%;
						width: 156px;
						height: 151px;
						z-index: -2;
						background: url(../img/home-intro-circle.png);
						background-repeat: repeat;
						background-size: auto;
						background-repeat: no-repeat;
						background-size: contain;
						animation: spinner-rotate 40s linear infinite;
					}
					&:after{
						content: '';
						position: absolute;
						bottom: 15%;
						right: -6%;
						width: 110px;
						height: 110px;
						z-index: -2;
						background: url(../img/home-intro-circle.png);
						background-repeat: no-repeat;
						background-size: contain;
						animation: spinner-rotate 40s linear infinite;
					}
				}
			}
		}
	}

	&-game-mode{
		position: relative;
		z-index: 3;
		padding: 0;
		.sc__header{
			margin-bottom: -90px;
			&:before{
		    	content: '';
		    	position: absolute;
		    	top: -56px;
				left: 0;
			    right: 0;
			    margin: auto;
				width: 562px;
				height: 247px;
		    	background: url(../img/game-mode-header.svg);
		    	background-repeat: no-repeat;
		    	background-size: contain;
		    	z-index: -1;
		    	pointer-events: none;
		    }
		    &__title{
				position: relative;
				display: inline-block;
				font-size: 64px;
				line-height: 64px;
				text-shadow: 2px 0 0 #E09B0F, -2px 0 0 #e19314, 0 2px 0 #E09B0F, 0 -2px 0 #E09B0F, 1px 1px #E09B0F, -1px -1px 0 #E09B0F, 1px -1px 0 #E09B0F, -1px 1px 0 #E09B0F, 0px 4px 6px #000000, 0px 2px 2px #034110;
			    &:after{
			    	content: '';
					position: absolute;
					top: calc( 100% + 65px);
					left: 0;
					right: 0;
					margin: 0 auto;
					width: 42px;
					height: 38px;
					background: url(../img/arrow-down-yellow.svg);
					background-repeat: repeat;
					background-size: auto;
					background-repeat: no-repeat;
					background-size: contain;
					z-index: -1;
					pointer-events: none;
					animation: 2s ease-in-out infinite Mousex;

			    }
			}
		}

		.slider__item{
			position: relative;
			text-align: center;
			-webkit-mask-image: url(../img/game-mode-mask.svg);
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;

			&__thumb{
	            .dnfix__thumb{
	            	padding-top: 45.6%;
	            	min-height: 200px;
	            }
			}
			&__meta{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 36px 0;
				text-align: center;
				background: rgba(14, 32, 18, .2);
			}
			&__title{
				font-family: Changa;
				font-style: normal;
				font-weight: 800;
				font-size: 48px;
				line-height: 58px;
				/* identical to box height, or 121% */

				text-align: center;
				text-transform: uppercase;

				color: #FFFFFF;
				margin-bottom: 8px;
			}
			&__excerpt{
				font-size: 24px;
				line-height: 26px;
				color: #FFFFFF;
			}
		}

		.slider__item__box{
			max-width: 700px;
			margin: 0 auto;
		}
		.flickity-prev-next-button {
			top: auto;
			transform: translateY(0);
			bottom: 60px;
			background: transparent;
			--dn-position: calc( 50% - 390px);
			svg{
				display: none;
			}
		  	&.previous {
			  left: var(--dn-position);
			  	&::before {
					content: "";
					background: url(../img/arrow-left.svg);
					background-size: auto;
					position: absolute;
					top: 0;
					left: 0;
					width: 39px;
					height: 46px;
					background-size: contain;
					background-repeat: no-repeat;
				}
			}
			&.next{
				right: var(--dn-position);
				&::before {
					content: "";
					background: url(../img/arrow-right.svg);
					background-size: auto;
					position: absolute;
					top: 0;
					right: 0;
					width: 39px;
					height: 46px;
					background-size: contain;
					background-repeat: no-repeat;
				}
			}
		}

	}

	&-battle{
		position: relative;
		padding: 130px 0;
		&:before{
			content: '';
			position: absolute;
			top: -130px;
			left: 0;
			width: 100%;
			height: calc( 100% - 130px );
			background: url(../img/home-battle-bg.png);
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
			pointer-events: none;
		}
		.el__item{
			position: relative;
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: -8.5%;
				width: 117%;
				height: 117%;
				background: url(../img/battle-item.svg);
				background-repeat: no-repeat;
				background-size: contain;
				z-index: -1;
				pointer-events: none;

			}
			.dnfix__thumb{
				border-radius: 32px;
				padding-top: 62%;
			}
			&__meta{
				min-height: 230px;
				padding: 50px 44px;
				text-align: center;
				color: #F8FFFC;
			}
			&__title{
				font-family: Changa;
				font-weight: 800;
				font-size: 28px;
				line-height: 38px;
				text-transform: uppercase;
				margin-bottom: 8px;
			}
			&__excerpt{
				font-size: 18px;
				line-height: 28px;
			}
		}
	}

	&-metaverse{
		position: relative;
		padding-top: 51%;
		min-height: 700px;
		picture{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.sc__header{
			position: absolute;
			top: 90px;
			left: 0;
			right: 0;
		}
		.el__box{
			&__item{
				position: absolute;
				font-family: Changa;
				font-weight: 800;
				font-size: 20px;
				line-height: 19px;
				text-align: center;
				text-transform: uppercase;
				color: #FFFFFF;
				animation: 2s ease-in-out infinite Mousex;
				>p{
					position: relative;
    				z-index: 1;
					display: flex;
					align-items: center;
					justify-content: center;
					background: url(../img/home-metavers-item.svg);
					background-size: contain;
					width: 105px;
					height: 90px;
					padding-bottom: 12px;
					background-repeat: no-repeat;
				}
				&.-s1{
					top: 28%;
    				left: 57%;
				}
				&.-s2{
					top: 50%;
    				left: 50%;
				}
				&.-s3{
					top: 69%;
    				left: 20%;
				}
				&.-s4{
					top: 72%;
    				right: 25%;
				}
			}
		}
	}

	&-collection{
		position: relative;
		padding: 130px 0 160px;
		overflow: hidden;
		&:before{
			content: '';
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    height: 80%;
		    background: url(../img/home-collection-bg.png);
		    background-repeat: no-repeat;
		    background-size: contain;
		    pointer-events: none;
		    background-position: bottom;
		    opacity: .1;
		}
	}
	.collection-slider{
		width: 100vw;
		.slider__item{
			&__wrap{
				width: 400px;
			}
			&:hover{
				.dnfix__thumb{
					transform: translateY(-5px);
					animation: lightAnimation 1s ease-in-out infinite;
				}
			}
			&__thumb{
				width: 100%;
				padding: 60px 30px 45px;
				background: url(../img/home-collection-item.svg);
				background-repeat: no-repeat;
				background-size:contain;
				margin-bottom: 16px;
			}
			.dnfix__thumb{
				padding-top: 107%;
			}
			&__title{
				position: relative;
				padding: 20px 0;
				font-weight: bold;
				font-size: 32px;
				line-height: 42px;
				text-align: center;
				color: #FFFFFF;
				&:before, &::after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					width: 100%;
					height: 7px;
					margin: 0 auto;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: calc(50% - 10px);
					pointer-events: none;

				}
				&:before{
					top: 0;
					background-image: url(../img/home-collection-title-top.svg);
				}
				&:after{
					bottom: 0;
					background-image: url(../img/home-collection-title-bottom.svg);
				}
			}
		}

	}

	&-tokenmoics{
		position: relative;
		padding: 130px 0 170px;
		background-image: url(../img/home-token-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		.el__box{
			position: relative;
			margin-top: 100px;

			&__thumb{
				position: relative;
				width: 540px;
				height: 540px;
				margin: 0 auto;
				display: flex;
			    align-items: center;
			    justify-content: center;
				>img{
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
					animation: lightAnimation 2s ease-in-out infinite;
				}
				&:before, &:after{
					content: '';
    				position: absolute;
					background: url(../img/home-tokenmoics-circle.png);
				    background-repeat: no-repeat;
				    background-size: contain;
				    pointer-events: none;
				    animation: 300s linear infinite spinner-rotate;
				}
				&:before{
				    top: -19%;
				    left: -25%;
				    width: 150%;
				    height: 150%;
				}
				&:after{
				    top: -94%;
				    left: -100%;
				    width: 300%;
				    height: 300%;
				}
			}
			&__text{
				font-family: Changa;
				font-weight: 500;
				font-size: 12px;
				line-height: 18px;
				color: #F8FFFC;
				.-text-small{
					vtext-transform: uppercase;
					letter-spacing: 0.4em;
				}
				.-text-large{
					font-weight: bold;
					font-size: 36px;
					line-height: 42px;
				}
				.-number{
					font-weight: bold;
					font-size: 42px;
					line-height: 42px;
					color: #E09B0F;
				}
			}
			&__center{

			}
			&__percent{
				font-weight: normal;
				font-size: 18px;
				line-height: 34px;
				color: #F8FFFC;
				.-percent{
					font-weight: bold;
					font-size: 48px;
					line-height: 34px;
					margin-top: 6px;
				}
			}
		}


		.el__percent{
			position: absolute;
			pointer-events: none;
			&:before{
				content: '';
				position: absolute;
				background-repeat: repeat;
				background-size: auto;
				background-repeat: no-repeat;
				background-size: contain;
			}
			&.-s1{
				top: -12%;
				left: 50%;
				&:before{
					top: 100%;
					left: 25px;
					width: 2px;
					height: 87px;
					background-image: url(../img/percent-line-1.png);
				}
			}
			&.-s2{
				top: 41%;
				left: 13%;
				&:before{
					top: 50%;
				    left: 100%;
				    width: 100px;
				    height: 2px;
					background-image: url(../img/percent-line-2.png);
				}
			}
			&.-s3{
				top: -3%;
				left: 69%;
				&:before{
					top: 50%;
				    right: 100%;
				    width: 81px;
				    height: 63px;
					background-image: url(../img/percent-line-3.png);
				}
			}
			&.-s4{
				top: 4%;
				left: 21%;
				&:before{
					top: 65%;
				    left: 100%;
				    width: 81px;
				    height: 63px;
					background-image: url(../img/percent-line-4.png);
				}
			}
			&.-s5{
				top: 14%;
				left: 75%;
				&:before{
					top: 42%;
				    right: 100%;
				    width: 89px;
				    height: 36px;
					background-image: url(../img/percent-line-5.png);
				}
			}
			&.-s6{
				top: 38%;
				left: 78%;
				&:before{
					top: 45%;
				    right: 120%;
				    width: 92px;
				    height: 19px;
					background-image: url(../img/percent-line-6.png);
				}
			}
			&.-s7{
				top: 97%;
				left: 65%;
				&:before{
					top: -51%;
				    right: 113%;
				    width: 60px;
				    height: 67px;
					background-image: url(../img/percent-line-7.png);
				}
			}
			&.-s8{
				top: 69%;
				left: 19%;
				&:before{
					top: -60%;
				    left: 100%;
				    width: 113px;
				    height: 78px;
					background-image: url(../img/percent-line-8.png);
				}
			}
		}
	}

	&-team{
		padding: 130px 0 150px;
		overflow-x: hidden;
	}

	&-roadmap{
		position: relative;
		padding: 130px 0;
		background: url(../img/home-roadmap.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	     overflow: hidden;

	    .el__box{
	    	&__line{
	    		position: relative;
	    		margin: 80px 0;
	    		width: 100%;
	    		height: 1px;
	    		background: #A0520A;
	    		&::before {
	    			content: '';
				    position: absolute;
				    top: -93px;
				    left: -315px;
				    width: 348px;
				    height: 214px;
				    background: url(../img/home-roadmap-tank.png);
				    background-repeat: no-repeat;
				    background-size: contain;
				    pointer-events: none;
				    animation: lightAnimation 1s ease-in-out infinite;
	    		}
	    		&::after {
	    			content: '';
				    position: absolute;
				    top: -15px;
				    right: -200px;
				    width: 300px;
				    height: 30px;
	    			background: url(../img/home-roadmap-fire.png);
	    			background-repeat: no-repeat;
	    			background-size: contain;
	    			pointer-events: none;
	    			animation: lightAnimation 1s ease-in-out infinite;
	    		}
	    	}
	    	&.-row2{
	    		.el__item{
	    			margin-left: 222px;
	    			&:after {
					    top: -40px;
					    background-image: url(../img/arrow-down-up.svg);
					    animation: 5s ease-in-out infinite Mousex2;
					}
	    			&__dot{
	    				bottom: auto;
	    				top: -125px;
	    			}
	    		}
	    	}

	    	.el__item{
	    		position: relative;
	    		width: 222px;
	    		font-weight: normal;
				font-size: 16px;
				line-height: 26px;
				color: #FFFFFF;

				&:after {
				    content: '';
				    position: absolute;
				    top: calc( 100% + 14px );
				    left: 0;
				    right: 0;
				    margin: 0 auto;
				    width: 31px;
   					height: 27px;
				    background-image: url(../img/arrow-down-yellow.svg);
				    background-repeat: repeat;
				    background-size: auto;
				    background-repeat: no-repeat;
				    background-size: contain;
				    pointer-events: none;
				    animation: 5s ease-in-out infinite Mousex;
				}
				ul{
					list-style: disc;
					padding-left: 1.5rem;
				}
				&:not(:first-child){
					margin-left: 222px;
				}
	    		&__title{
		    		display: flex;
				    align-items: center;
				    justify-content: center;
		    		width: 222px;
				    height: 57px;

		    		background: url(../img/roadmap-label.svg);
				    background-repeat: no-repeat;
				    background-size: contain;

				    font-weight: 900;
					font-size: 32px;
					line-height: 42px;
					text-align: center;
					text-transform: uppercase;
					text-shadow: 0px 1px 1px #034110;
					margin-bottom: 24px;
		    	}
		    	&__dot{
		    		display: flex;
				    align-items: center;
				    justify-content: center;
		    		position: absolute;
		    		left: 0;
		    		right: 0;
		    		margin: 0 auto;
		    		bottom: -125px;
		    		width: 90px;
		    		height: 90px;
		    		z-index: 1;
		    		background-image: url(../img/home-intro-circle.png);
		    		background-repeat: no-repeat;
		    		background-size: contain;
		    		animation: 20s ease-in-out infinite spinner-rotate;
		    		&:before{
		    			content: '';
					    display: block;
					    width: 22px;
					    height: 22px;
					    background: #04A327;
					    border-radius: 50%;
					    z-index: 1;
		    		}
		    	}
	    	}
	    }
	}

	&-partners{
		position: relative;
		padding: 130px 0 90px;
		.el__item{
			flex: 0 0 auto;
			width: 74px;
			height: 74px;
			padding: 10px;
			background: #274A41;
			box-shadow: inset 0px -2.4px 4.8px rgba(0, 0, 0, 0.25), inset 0px 2.4px 6.6px rgba(255, 255, 255, 0.17), inset 0px -2.4px 7.2px rgba(0, 0, 0, 0.39);
			border-radius: 8px;
			transition: all .5s;
			.dnfix__thumb{
				padding-top: 54px;
			}
			&:hover {
			    box-shadow: inset 0px -2.4px 4.8px rgba(255, 255, 255, .25), inset 0px 2.4px 6.6px rgba(255, 255, 255, .17), inset 0px -2.4px 7.2px rgba(0, 0, 0, .39);
			}
		}
	}

	@media (max-width: 1599px){
		&-roadmap{
			.el__box__line::after {
			    right: -100px;
			}
			.el__box__line::before {
			    top: -73px;
			    left: -200px;
			    width: 280px;
			    height: 170px;
			}
		}
		&-header{
			.el__title {
			    font-size: 60px;
			    line-height: 64px;
			}
			.el__excerpt {
			    font-size: 20px;
			    line-height: normal;
			    margin-bottom: 50px;
			}
		}

		&-intro{
			.el__box__header {
			    max-width: 60%;
			    left: 20%;
			}
			.el__box {
			    max-width: 1000px;
			    margin: auto;
			}
		}
		&-game-mode{
			.sc__header:before {
			    top: -50px;
			    width: 500px;
			    height: 220px;
			}
		}
	}
	@media (max-width: 1399px){
		&-roadmap{
			padding: 100px 0;
			.el__box__line::after {
			    right: 0;
			}
			.el__box__line::before{
			    top: -43px;
			    left: -86px;
			    width: 200px;
			    height: 100px;
			}
			.el__box .el__item__title {
			    width: 200px;
			    height: 50px;
			    font-size: 24px;
			    line-height: 42px;
			}
		}
		&-game-mode{
			.sc__header{
   				margin-bottom: -60px;
				&__title {
				    font-size: 44px;
				    line-height: 58px;
				    &:after {
					    top: calc( 100% + 30px);
					}
				}
				&:before {
				    top: -35px;
				    width: 390px;
				    height: 170px;
				}

			}
		}
		&-battle {
		    padding: 100px 0;
		}
		&-intro{
			.el__box__decorate:before {
			    top: -18%;
			    right: -8%;
			    width: 24%;
			    height: 30%;
			}
			.el__box__decorate:after {
			    bottom: -18%;
			    left: -8%;
			    width: 35%;
			    height: 30%;
			}
		}
		&-collection {
		    padding: 100px 0 160px;
		}
		&-tokenmoics {
		    padding: 100px 0 150px;
		}
		&-team {
		    padding: 100px 0 150px;
		}
		&-metaverse{
			.sc__header {
			    top: 60px;
			}
			.el__box__item.-s1 {
			    top: 23%;
			    left: 57%;
			}
			.el__box__item.-s2 {
			    top: 44%;
			    left: 48%;
			}
			.el__box__item.-s3 {
			    top: 65%;
			    left: 19%;
			}
			.el__box__item.-s4 {
			    top: 67%;
			    right: 21%;
			}
		}
		&-partners {
		    padding: 100px 0 90px;
		}
		.collection-slider{
			.slider__item__wrap {
			  width: 320px;
			}
			.slider__item__title {
			  font-size: 26px;
			  line-height: 38px;
			}
		}
	}

	@media (max-width: 1199px){
		&-roadmap{
			.el__box__line::before, .el__box__line::after{
				display: none;
			}
			.el__boxs {
			    width: 100vw;
			    padding-left: 16px;
			    flex-wrap: nowrap;
			    overflow-x: auto;
			    scroll-padding: 0px 15px;
			    -webkit-box-direction: normal;
			    scroll-snap-type: x mandatory;
			    scrollbar-width: none;
			    &::-webkit-scrollbar{display:none}
			}
		}
		&-game-mode{

			.slider__item__meta {
			    padding: 24px 0;
			}
			.slider__item__title {
			    font-size: 38px;
			    line-height: 38px;
			    margin-bottom: 0;
			}
			.slider__item__excerpt {
			    font-size: 18px;
			}
		}
		&-metaverse{
			.el__box__item.-s1 {
			    top: 23%;
			    left: 58%;
			}
			.el__box__item.-s2 {
			    top: 45%;
			    left: 46%;
			}
			.el__box__item.-s3 {
			    top: 64%;
    			left: 7%;
			}
			.el__box__item.-s4 {
			    top: 64%;
			    right: 13%;
			}
		}
		&-battle{
			.el__item__title {
			    font-size: 24px;
			    line-height: 34px;
			}
			.el__item__meta {
			    padding: 24px 20px;
			}
		}
		&-tokenmoics{
			.el__box__percent .-percent {
			    font-size: 32px;
			}
			.el__percent{
				font-size: 16px;
				line-height: 1.6;
				&.-s2 {
				    left: 10%;
				}
				&.-s3 {
				    left: 75%;
				}
				&.-s4 {
				    left: 16%;
				}
				&.-s5 {
				    left: 79%;
				}
				&.-s6 {
				    left: 83%;
				}
				&.-s7 {
				    left: 70%;
				}
				&.-s8 {
				    left: 13%;
				}
			}

		}
	}

	@media (max-width: 991px){

		&-header{
			.el__wrap::before {
			    top: 50px;
			}
			.ratio {
			    min-height: 500px;
			}
			.el__wrap {
			    padding: 0 1.5rem;
			}
			.el__title {
			    font-size: 48px;
			    line-height: 56px;
			}
			.el__excerpt {
			    font-size: 16px;
			    line-height: 26px;
			}
		}
		&-intro {
		    padding: 40px 0 160px;
		    .el__box__header {
			    max-width: 100%;
			    left: 0;
			}
			.el__box__decorate:before{
				display: none;
			}
			.el__box {
			    padding: 36px 24px;
			}
		}
		&-battle {
		    padding: 80px 0 160px;
		    overflow: hidden;
		    .flickity:after {
			  content: 'flickity';
			  display: none; /* hide :after */
			}
		}
		&-game-mode{
			.sc__header {
			    margin-bottom: 80px;
			    &__title:after {
				    width: 36px;
				    height: 31px;
				}
			}
			.slider__item {
			    -webkit-mask-image: none;
			}
			.flickity-prev-next-button {
			    transform: translateY(-50%);
			    bottom: 50%;
			    top: 50%;
			    --dn-position: 1.5rem;
			}
		}
		&-collection {
		    padding: 80px 0 160px;
		}
		&-tokenmoics {
		    padding: 80px 0 150px;
		    .el__percent{
		    	&.-s2 {
				    left: 0%;
				}
				&.-s3 {
				    left: 82%;
				}
				&.-s4 {
				    left: 5%;
				}
				&.-s5 {
				    left: 88%;
				}
				&.-s6 {
				    left: 91%;
				}
				&.-s8 {
				    left: 4%;
				}
		    }
		}
		&-team {
		    padding: 80px 0 150px;
		}
		&-roadmap {
		    padding: 80px 0;

		}
		&-partners {
		    padding: 80px 0 20px;
		}
	}
	@media (max-width: 776px){
		&-header{
			.el__title {
			    font-size: 38px;
			    line-height: 40px;
			}
		}
		&-battle{
			.el__item {
			    max-width: 340px;
			    margin: auto;
			}
		}
		&-metaverse {
			padding-top: 158%;
		    min-height: 600px;
		    .el__box__item{
		    	&.-s1 {
				    top: 35%;
				    left: 20%;
				}
		    	&.-s2 {
				    top: 54%;
				    left: 14%;
				}
		    	&.-s3 {
				    top: 75%;
				    left: 1%;
				}
				&.-s4 {
				    top: 75%;
				    right: 8%;
				}
		    }
		}
		&-tokenmoics{
			padding: 80px 0;
			.el__box__percent {
				margin-top: 36px;
			    font-size: 14px;
			    line-height: normal;

			    --bs-gutter-x: 1.5rem;
			    --bs-gutter-y: 0;
			    display: flex;
			    flex-wrap: wrap;
			    margin-right: calc(var(--bs-gutter-x) * -.5);
			    margin-left: calc(var(--bs-gutter-x) * -.5);
			    & > * {
				    flex: 0 0 auto;
				    width: 33.3333333333%;
				    adding-right: calc(var(--bs-gutter-x) * .5);
				    padding-left: calc(var(--bs-gutter-x) * .5);
				    margin-top: var(--bs-gutter-y);
				}

				.-percent {
				    font-size: 24px;
				    line-height: normal;
   					margin-top: 0;
				}

			}
			.el__percent {
			    position: relative;
			    font-size: 14px;
			    top: 0!important;
    			left: 0!important;
    			margin-bottom: 22px;
    			&:before{
    				position: relative;
    				display: block;
    				top: 0!important;
    				left: 0!important;
					width: 14px!important;
					height: 14px!important;
					border-radius: 50%;
    				margin-bottom: 4px;
				}
				&.-s1{
					&:before{
						background: #CE185F;
					}
				}
				&.-s2{
					&:before{
						background: #E4E500;
					}
				}
				&.-s3{
					&:before{
						background: #6DF8F2;
					}
				}
				&.-s4{
					&:before{
						background: #2A2EB3;
					}
				}
				&.-s5{
					&:before{
						background: #A2A4D8;
					}
				}
				&.-s6{
					&:before{
						background: #F09511;
					}
				}
				&.-s7{
					&:before{
						background: #27CB7C;
					}
				}
				&.-s8{
					&:before{
						background: #6AF8F2;
					}
				}
			}
		}
	}

	@media (max-width: 575px){
		&-header{
			.el__wrap {
			    margin-top: 50px;
			}
			.el__title {
			    font-size: 28px;
			    line-height: 30px;
			    margin-bottom: 16px;
			}
			.el__excerpt {
			    margin-bottom: 20px;
			}

		}
		.collection-slider {
		    width: auto;
		   	.slider__item__wrap {
			    width: 100%;
			}
		}


		&-intro{
			.el__box {
			    padding: 15px 12px;
			    .ratio {
				    border-radius: 10px;
				}
				&__header {
				    margin-bottom: 10px;
				}
				&__title {
				    letter-spacing: 0.405em;
				}

				&__decorate:after {
				    bottom: -18%;
				    left: 0;
				    width: 40%;
				    height: 36%;
				}
			}
		}
		&-game-mode{
			.sc__header:before {
			    top: -30px;
			    width: 360px;
			    height: 160px;
			}
			.slider__item__thumb:before {
			    content: "";
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background: rgba(0, 0, 0, .2);
			    z-index: 1;
			}
			.slider__item__meta {
			    background: transparent;
			    z-index: 2;
			}
			.slider__item__title {
			    font-size: 24px;
			    line-height: 34px;
			}
			.slider__item__excerpt {
			    font-size: 16px;
			}
			.flickity-prev-next-button.previous::before, .flickity-prev-next-button.next::before {
			    width: 24px;
			    height: 26px;
			}
		}
		&-metaverse{
			.sc__header {
			    top: 60px;
			}
			.el__box__item {
			    font-size: 15px;
			    &>p{
			    	width: 78px;
			    	height: 65px;
			    }
			}

		}
		&-collection{
			&:before{
				display: none;
			}
		}

		&-tokenmoics{
			.el__box {
			    position: relative;
			    margin-top: 0;
			    font-size: 8px;
    			line-height: 12px;
			    &__text{
			    	.-number {
					    font-size: 28px;
					    line-height: 28px;
					}
					.-text-large {
					    font-size: 24px;
					    line-height: 28px;
					}
			    }
			    &__thumb:before {
				    top: -21%;
				    left: -28%;
				}
			}
			.el__box__thumb {
			    width: 350px;
			    height: 350px;
			}

		}

	}
}