.home{
	&-header{
		position: relative;
		&:before{
			content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    z-index: 1;
		    pointer-events: none;
		    background: linear-gradient(180deg, rgba(5,50,34,0) 0%, #053222 100%);
		}
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 167%;
			pointer-events: none;
			background-image: url(../img/light.png);
			background-repeat: no-repeat;
			background-size: cover;
			animation: lightAnimation 2s ease-in-out infinite;
		}
		.el__wrap{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
			&::before {
				content: '';
				position: absolute;
				top: 100px;
				left: 0;
				z-index: 2;
				width: 100%;
				height: 104%;
				pointer-events: none;
				background-image: url(../img/header-cloud.png);
				background-size: contain;
				background-position: bottom center;
				background-repeat: no-repeat;
			}
		}
		.el__meta{
			position: relative;
		    height: 100%;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    flex-direction: column;
		    background-image: url(../img/header-grid.png);
			background-size: contain;
			background-position: center;
		}
		.ratio{
			--bs-aspect-ratio: calc(6.5 / 16 * 100%);
			min-height: 700px;
		}
		.el__title{
			font-family: Changa;
			font-style: normal;
			font-weight: 800;
			font-size: 86px;
			line-height: 86px;
			/* or 100% */

			text-align: center;
			text-transform: uppercase;

			color: #FFFFFF;
			margin-bottom: 32px;

			text-shadow: 0px 2px 2px #034110;
		}
		.el__excerpt{
			font-family: Roboto;
			font-weight: normal;
			font-size: 24px;
			line-height: 34px;
			text-align: center;
			color: #F8FFFC;
			margin-bottom: 66px;
		}

	}

	&-intro{
		position: relative;
		padding: 100px 0;
		z-index: 3;
		&:after{
			content: '';
		    position: absolute;
		    bottom: -100px;
		    left: 0;
		    width: 100%;
		    height: 46%;
		    background: url(../img/home-intro-bottom.png);
		    background-repeat: no-repeat;
		    pointer-events: none;
		    z-index: -3;
		}
		.el__box{
			position: relative;

			padding: 45px 38px;
			&:before{
				content: '';
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 100%;
			    height: 100%;
			    background: url(../img/home-intro-video.png);
			    background-repeat: no-repeat;
			    background-size: contain;
			    pointer-events: none;
			    background-position: center;
			    z-index: -1;
			}
			&__header{
			    position: relative;
			    background: rgba(37,176,93,0.1);
			    border-radius: 0px 0px 80px 80px;
			    max-width: 66%;
			    left: 17%;
			}
			&__title{
				font-family: Changa;
				font-style: normal;
				font-weight: 800;
				font-size: 18px;
				/* identical to box height, or 0% */

				text-align: center;
				letter-spacing: 0.93em;
				text-transform: uppercase;

				/* texxt */

				color: #F8FFFC;
			}
			.ratio{
				--bs-aspect-ratio: 50%;
				border-radius: 40px;
				overflow: hidden;
			}
			&__decorate{
				pointer-events: none;
				&:before{
					content: '';
				    position: absolute;
				    top: -27%;
					right: -19%;
				    width: 28.4%;
					height: 36.4%;
				    background: url(../img/home-intro-right.png);
				    background-repeat: no-repeat;
				    background-size: contain;
				    animation: lightAnimation 2s ease-in-out infinite;
				}
				&:after{
					content: '';
					position: absolute;
					bottom: -21%;
					left: -18%;
					width: 43.6%;
					height: 40%;
					background: url(../img/home-intro-left.png);
					background-repeat: no-repeat;
					background-size: contain;
					animation: lightAnimation 2s ease-in-out infinite;
				}

				.-circle{
					&:before{
						content: '';
						position: absolute;
						top: 6%;
						left: -8%;
						width: 156px;
						height: 151px;
						z-index: -2;
						background: url(../img/home-intro-circle.png);
						background-repeat: repeat;
						background-size: auto;
						background-repeat: no-repeat;
						background-size: contain;
						animation: spinner-rotate 40s linear infinite;
					}
					&:after{
						content: '';
						position: absolute;
						bottom: 15%;
						right: -6%;
						width: 110px;
						height: 110px;
						z-index: -2;
						background: url(../img/home-intro-circle.png);
						background-repeat: no-repeat;
						background-size: contain;
						animation: spinner-rotate 40s linear infinite;
					}
				}
			}
		}
	}

	&-game-mode{
		position: relative;
		z-index: 3;
		padding: 100px 0;
		.sc__header{
			&:before{
		    	content: '';
		    	position: absolute;
		    	top: -56px;
				left: 0;
			    right: 0;
			    margin: auto;
				width: 562px;
				height: 247px;
		    	background: url(../img/game-mode-header.svg);
		    	background-repeat: no-repeat;
		    	background-size: contain;
		    	z-index: -1;
		    	pointer-events: none;
		    }
		}
		.sc__header__title{
			position: relative;
			display: inline-block;
			font-size: 64px;
			line-height: 64px;
			text-shadow: 2px 0 0 #E09B0F, -2px 0 0 #e19314, 0 2px 0 #E09B0F, 0 -2px 0 #E09B0F, 1px 1px #E09B0F, -1px -1px 0 #E09B0F, 1px -1px 0 #E09B0F, -1px 1px 0 #E09B0F, 0px 4px 6px #000000, 0px 2px 2px #034110;


		    &:after{
		    	content: '';
				position: absolute;
				top: calc( 100% + 65px);
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 42px;
				height: 38px;
				background: url(../img/arrow-down-yellow.svg);
				background-repeat: repeat;
				background-size: auto;
				background-repeat: no-repeat;
				background-size: contain;
				z-index: -1;
				pointer-events: none;

		    }
		}
		.slider__item{
			position: relative;
			text-align: center;
			-webkit-mask-image: url(../img/game-mode-mask.svg);
	            -webkit-mask-repeat: no-repeat;
	            -webkit-mask-size: 100% 100%;
			&__thumb{

	            .dnfix__thumb{
	            	padding-top: 45.6%;
	            }
			}
			&__meta{
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 36px 0;
				text-align: center;
				background: rgba(14, 32, 18, .2);
			}
			&__title{
				font-family: Changa;
				font-style: normal;
				font-weight: 800;
				font-size: 48px;
				line-height: 58px;
				/* identical to box height, or 121% */

				text-align: center;
				text-transform: uppercase;

				color: #FFFFFF;
				margin-bottom: 8px;
			}
			&__excerpt{
				font-size: 24px;
				line-height: 26px;
				color: #FFFFFF;
			}
		}
	}

	&-battle{
		position: relative;
		padding: 130px 0;
		&:before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: calc( 100% - 130px );
			background: url(../img/home-battle-bg.png);
			background-repeat: no-repeat;
			background-size: cover;
			z-index: -1;
			pointer-events: none;
		}
		.el__item{
			background: url(../img/battle-item.svg);
			background-repeat: no-repeat;
			background-size: cover;

		}
	}

	@media (max-width: 575px){

	}

}