
.token-sell{
	&__content{
		padding: 0 40px;
		font-weight: 700;
		font-size: 18px;
		line-height: 21px;
		color: #FFFFFF;
		.-input{
			position: relative;
			&.input-quantity{
				input{
					text-align: center;
					padding: 19px 60px;

					&::-webkit-outer-spin-button,
					&::-webkit-inner-spin-button {
					  -webkit-appearance: none;
					  margin: 0;
					}
					&[type=number] {
					  -moz-appearance: textfield;
					}
				}
				button{
					position: absolute;
					top: 19px;
					background: transparent;
					border: 0;
					z-index: 1;
					&.input-minus{
						left: 24px;
					}
					&.input-plus{
						right: 24px;
					}
				}
			}
			input{
				position: relative;
				padding: 19px 105px 19px 24px;
				background-color: #141D18;
				font-weight: 700;
				font-size: 24px;
				line-height: 28px;
				color: #F8FFFC;
				border: 0;
				border-radius: 8px;
			}
			.-pre-fix{
				position: absolute;
			    top: 19px;
			    right: 24px;
			    font-weight: 700;
			    font-size: 24px;
			    line-height: 28px;
			    color: #F8FFFC;
			}
		}
	}
	&__time{
		display: flex;
		align-items: center;
		.el__item{
			padding: 10px;
			background: #204137;
			border: 2px solid #2A4F44;
			box-sizing: border-box;
			border-radius: 8px;
			&:not(:last-child){
				margin-right: 16px;
			}
		}
	}
	@media (max-width: 991px){
		&__content {
		    padding: 0;
		}
	}
}
.schar{
	&__wrapper{
		position: relative;
		padding: 100px 0 200px;
	}
	&__title{
		&.-token-sell{
			font-weight: 700;
			font-size: 32px;
			line-height: 38px;
			color: #F9F9F9;
		}
		&.-inventory{
			font-size: 24px;
			line-height: 36px;
		}
	}
	&__box{
		position: relative;
		z-index: 1;
		background: #232A27;
		border-radius: 16px;
		&:before{
			// content: '';
			// position: absolute;
			// bottom: -3px;
			// left: 0;
			// width: 100%;
			// height: 100%;
			// background: url(../img/schar-mask.png);
			// background-repeat: no-repeat;
			// background-size: contain;
			// pointer-events: none;
			// background-position: bottom left;
		}
	}
	&__header{
	    background: #0f1110;
	    .col__left{
	    	padding: 11px 0;
	    }
	    .col__right{
	    	position: relative;
	    	padding: 17px 40px;
		    background: #232A27;
		    border-top-right-radius: 16px;
		    &:before{
		    	content: '';
			    position: absolute;
			    bottom: 0;
			    left: -70px;
			    width: 100%;
			    height: 2px;
			    pointer-events: none;
			    z-index: 1;
		    	background: linear-gradient(90deg, #130E2E 1.44%, rgba(19, 14, 46, 0) 100%);
		    }
		    &::after {
		    	content: '';
		    	position: absolute;
		    	top: 0;
		    	left: -70px;
			    border-bottom: 70px solid #232A27;
			    border-left: 70px solid transparent;
		    	pointer-events: none;
		    }
	    }
	}

	&__back{
		position: relative;
		font-weight: 600;
		font-size: 14px;
		line-height: 21px;
		color: #FFFFFF;
		border-right: 1px solid #2F2A49;
		&:before{
			content: "\e90e";
			font-family: icomoon;
			font-size: 14px;
			display: inline-block;
			margin-right: 8px;
		}
		&:hover{
			color: #fff;
		}
	}
	&__title{
		font-weight: bold;
		font-size: 32px;
		line-height: 48px;
		color: #F9F9F9;
	}
	&__sub{
		font-weight: 900;
		font-size: 24px;
		line-height: 36px;
		text-transform: uppercase;
		color: #04A327;
	}
	&__content{
		padding:50px;
		.scharTab{
			margin-bottom: 60px;
		}
		.nav-tabs{
			.nav-link{
				font-weight: 700;
				font-size: 18px;
				line-height: 21px;
				text-align: center;
				text-transform: capitalize;
				color: #4A6B63;
    			padding: 0.5rem 25px;
				&.active, &:hover {
				    background-color: #2D4C43;
				    border-color: #2D4C43;
				    color: #fff;
				}
			}
		}
		.tab-content{
			min-height: 220px;
			padding: 32px 28px;
			background: #2D4C43;
			border-radius: 0 16px 16px 16px
		}
		.stats__item{
			margin-bottom: 16px;
			&__thumb{
				flex: 0 0 auto;
				width: 53px;
				padding-top: 53px;
				margin-right: 8px;
			}
			&__title{
				font-weight: 600;
				font-size: 14px;
				line-height: 21px;
				color: #FFFFFF;
				margin-bottom: 0;
			}
			&__sub{
				font-weight: 800;
				font-size: 18px;
				line-height: 21px;
				color: #FFFFFF;
			}
			&.-body{
				.stats__item__sub{
					font-size: 12px;
					line-height: 18px;
					font-weight: 700;
					color: #E09B0F;
				}
			}
		}
		.abilities__header__title{
			font-weight: bold;
			font-size: 14px;
			line-height: 21px;
			color: #FFFFFF;
			margin-bottom: 10px;
		}
		.abilities__item{
			margin-bottom: 24px;
			.dnfix__thumb{
				padding-top: 100%;
			}
		}
		.parent__item{
			margin-bottom: 24px;
			&:hover{
				.parent__item__thumb{
					border: 1px solid #8b7fc8;
				}
			}
			&__title{
				font-weight: 600;
				font-size: 14px;
				line-height: 21px;
				color: #F9F9F9;
				margin-bottom: 6px;
				span{
					display: inline-block;
					padding: 4px 6px;
					margin-left: 8px;
					font-weight: 500;
					font-size: 12px;
					line-height: 18px;
					color: #04A327;
					border: 1px solid #04A327;
					border-radius: 8px;
				}
			}
			&__sub{
				font-size: 12px;
				line-height: 18px;
				color: #768982;
			}
			&__thumb{
				background: radial-gradient(50% 50% at 50% 50%, #387966 0%, #24614F 100%);
				border: 1px solid #304C43;
				border-radius: 8px;
				transition: all .5s;
			}
		}
	}
	&__thumb{
		width: 100%;
		max-width: 450px;
		margin: 0 auto;
		background: url(../img/token-sell-box.png);
		background-repeat: no-repeat;
		background-size: contain;
		.dnfix__thumb{
			padding-top: 125%;
		}
		.ratio{
			--bs-aspect-ratio: 112%;
		}
	}
	&__box__item{
		border: 1px dashed #315A4E;
		padding: 24px 32px;
		border-radius: 16px;
		margin-bottom: 60px;
		.el__title{
			font-weight: 700;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			color: #04A327;
			margin-bottom: 16px;
			white-space: nowrap;
		}
		.el__sub{
			font-weight: 700;
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
			&.-address{
				max-width: 203px;
			}
		}
	}

	&__price{
		.amount{
			font-weight: bold;
			font-size: 28px;
			line-height: 36px;
			color: #FFFFFF;
			&.-small{
				font-weight: 700;
				font-size: 20px;
				line-height: 23px;
				color: #4A6B63;
			}
		}
		.-buynow{
			min-width: 200px;
		}
	}
	@media (max-width: 1199px){
		&__content .nav-tabs .nav-link {
		    padding: 0.5rem 20px;
		}
		&__sub {
		    font-size: 18px;
		    line-height: 28px;
		}
		&__box__item{
			.el__title {
			    margin-bottom: 2px;
			}
			.el__sub {
			    font-size: 14px;
			    line-height: 24px;
			}
		}
	}
	@media (max-width: 991px){
		&__thumb{
			margin: 0 auto;
		}
	}
	@media (max-width: 767px){
		&__wrapper{
			padding: 20px 0 100px;
		}
		&__header .col__right{
    		padding: 17px 24px;
			&:before {
			    left: 0;
			}
			&::after{
				display: none;
			}
		}

		&__content {
		    padding: 40px 24px;
		    .btn-style.-large span {
			    min-width: 185px;
			    height: 52px;
			    line-height: 36px;
			}
		}
		&__price .amount {
		    font-size: 24px;
		    line-height: 30px;
		}
		&__box__item {
		    padding: 16px 24px;
		    margin-bottom: 32px;
		}
	}
	@media (max-width: 575px){
		&__content {
		    padding: 32px 12px;
		    .tab-content {
			    padding: 24px 16px;
			}
		    .nav-tabs .nav-link {
			    font-size: 13px;
			    padding: 0.25rem .65rem;
			}
		}
		&__back {
		    border: 0;
		}
	}
}