/*Connect Wallet*/
.wl__modal{
  background-color: rgba(#090E44, 0.8);
  .-close{
    background: none;
    border: none;
    box-shadow: none;
    color: #7B87A3;;
    font-size: 16px;
    margin: 0;
    line-height: 1;
    position: absolute;
    padding: 0;
    outline: none;
    transition: 0.3s;
    &:hover{
      color: #FB451D;
    }
  }
  .modal{
    &-dialog{
      width: calc(100% - 32px);
      max-width: 740px;
      margin: 0.5rem auto;
      @media (min-width: 768px){
        margin: 1.75rem auto;
      }
    }
    &-content{
      background: rgba(255, 255, 255, 0.07);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      border-radius: 12px;
    }
    &-header{
      position: relative;
      justify-content: center;
      border: none;
      padding: 20px 32px;
      &.-border{
        .modal{
          &-title{
            line-height: (28/20);
            padding-top: 4px;
          }
        }
      }
      &.-border__bottom{
        margin-bottom: 28px;
        &:after{
          content: '';
          position: absolute;
          width: calc(100% - 64px);
          height: 1px;
          border-bottom: 1px solid rgba(255,255,255,0.05);
          bottom: 0;
          left: 32px;
          @media (max-width: 575px){
            width: calc(100% - 32px);
            left: 16px;
          }
        }
      }
      .-close{
        top: 28px;
        right: 28px;
        @media (max-width: 575px){
          top: 40px;
          right: 20px;
        }
      }
    }
    &-title{
      width: 100%;
      display: block;
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      line-height: (52/28);
      @media (max-width: 575px){
        font-size: 24px;
      }
    }
    &-body{
    	font-size: 14px;
      padding: 0 32px 32px;
      scrollbar-width: thin;
      scrollbar-color: #010530 #2B3384;
      @media (max-width: 575px){
        padding-left: 16px;
        padding-right: 16px;
      }
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 8px #2B3384;
        border-radius: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background: #010530;
        border-radius: 3px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #010530;
      }
    }
    &-footer{
      border: none;
      background-color: rgba(#FFFFFF, 0.1);
    }
  }
  .token-list{
    padding-top: 1px;
    padding-bottom: 1px;
    .tk__item{
      &:not(:last-child){
        margin-bottom: 16px;
      }
      &:last-child{
        margin-bottom: 1px;
      }
    }
  }
  .wallet-list{
    .tk__item{
      width: calc((100% - 12px) / 2);
      &:nth-child(n+3) {
        margin-top: 12px;
      }
      .-name{
        padding-right: 70px;
        @media (max-width: 575px){
          padding: 70px 16px 16px;
        }
      }
    }
  }
  &.-connect{
    .modal{
      &-dialog{
        max-width: 500px;
      }
    }
  }
  &.-alert{
    .-close{
      width: 22px;
      height: 22px;
      line-height: 22px;
      border-radius: 50%;
      background-color: #FFFFFF;
      color: #232863;
      font-size: 10px;
      right: -10px;
      top: -10px;
      z-index: 2;
      i{
        vertical-align: middle;
        &:before{
          font-weight: 900;
        }
      }
      &:hover{
        background-color: #FB451D;
        color: #FFFFFF;
      }
    }
    .modal{
      &-content{
        position: relative;
        background: none;
        backdrop-filter: unset;
        -webkit-backdrop-filter: unset;
        overflow: visible;
      }
      &-body{
        background: #232863;
        border-radius: 12px;
        padding: 20px 32px;
        text-align: center;
        @media (max-width: 575px){
          padding: 16px;
        }
        &:not(:last-child){
          margin-bottom: 20px;
        }
        &:not(.-txt-large){
          font-size: 16px;
          line-height: (24/16);
        }
        &.-txt-large{
          font-size: 20px;
          line-height: (28/20);
        }
        .nt__icon{
          font-size: 34px;
          color: #FF972F;
          margin-bottom: 20px;
          line-height: 1;
        }
      }
    }
  }
}

.tk{
  &__item{
    position: relative;
    border-radius: 6px;
    transition: 0.3s;
    img{
      vertical-align: middle;
    }
    .-name{
      border-radius: 6px;
      background: #232863;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 16px;
      color: #EEF1FD;
      padding: 12px 120px 12px 20px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      min-height: 64px;
      margin: 1px;
      transition: 0.3s;
      cursor: pointer;
      &:before{
        content: '';
        border-radius: 6px;
        position: absolute;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(310deg, #22A9BB 30%, #b9e3e9);
        left: 0;
        top: 0;
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
      }
      span{
        display: block;
        position: relative;
        z-index: 2;
        &:not(.-full-name){
          font-weight: 600;
        }
      }
      .-full-name{
        font-size: 14px;
        color: rgba(207,210,221,0.6);
      }
      +.-logo{
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        @media (max-width: 575px){
          top: 20px;
          left: 18px;
          right: auto;
          transform: translateY(0);
        }
      }
    }
    .-check{
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
      z-index: -1;
      &:checked{
        +.-name{
          background: #2B3384;
          &:before{
            opacity: 1;
          }
        }
      }
    }
    .-meta{
      position: absolute;
      font-size: 15px;
      color: #FFFFFF;
      font-weight: 500;
      top: 50%;
      right: 20px;
      z-index: 3;
      transform: translateY(-50%);
      @media (max-width: 575px){
        font-size: 14px;
      }
      .-numb{
        margin-right: 16px;
        @media (max-width: 575px){
          margin-right: 8px;
        }
      }
    }
    .-logo{
      position: relative;
      height: 40px;
      min-width: 40px;
      z-index: 2;
      @media (max-width: 575px){
        width: 34px;
        min-width: 34px;
        height: 34px;
      }
      img{
        max-height: 100%;
      }
    }
    &:hover{
      .-name{
        background: #2B3384;
        &:before{
          opacity: 1;
        }
      }
    }
  }
  &__key{
    span{
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &__info{
    padding: 0 25px;
    @media (max-width: 575px){
      padding: 0 10px;
    }
  }
  &__name{
    font-size: 22px;
    @media (max-width: 575px){
      font-size: 16px;
    }
    .-txt{
      font-size: 16px;
      color: rgba(#CFD2DD, 0.6);
      line-height: 1;
      @media (max-width: 575px){
        font-size: 12px;
      }
    }
  }
  &__status{
    color: #FB741D;
    font-size: 18px;
    @media (max-width: 575px){
      font-size: 14px;
    }
    a{
      color: #FB741D;
      line-height: 1;
      transition: 0.3s;
      &.is-close{
        color: #FFFFFF;
        &:hover{
          color: #FF3333;
        }
      }
      &:not(:last-child){
        margin-right: 32px;
        @media (max-width: 575px){
          margin-right: 20px;
        }
      }
      i{
        &::before{
          font-size: 900;
        }
      }
      .icon-external-link{
        font-size: 22px;
        @media (max-width: 575px) {
          font-size: 18px;
        }
      }
    }
    .btn{
      font-size: 16px;
      padding: 8px 25px;
      @media (max-width: 575px){
        font-size: 14px;
        min-width: 100px;
        padding: 8px;
      }
    }
  }
  &__custom{
    &__txt{
      font-size: 20px;
      font-weight: 700;
      @media (max-width: 575px){
        font-size: 16px;
      }
    }
    &__btn{
      .btn{
        min-width: 150px;
        font-size: 18px;
        padding: 12px;
        @media (max-width: 575px){
          font-size: 14px;
          min-width: 100px;
          padding: 8px;
        }
      }
    }
  }
}
.scroll__wrap{
  width: calc(100% + 10px);
  margin-left: -5px;
  padding: 0 5px;
  max-height: 335px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #010530 #2B3384;
  @media (max-width: 575px){
    max-height: 375px;
  }
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #2B3384;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: #010530;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #010530;
  }
  .scroll__wrap__content{
    overflow: hidden;
  }
}
.wl__form{
	.form-group:not(:last-child) {
	    margin-bottom: 32px;
	}
	.btn.-submit {
		position: relative;
	    width: 100%;
	    padding: 15px 16px;
	    font-size: 18px;
	    box-shadow: none;
	    border-radius: 50px;
	    color: #FFFFFF;
    	font-weight: 700;
    	background: linear-gradient(88.33deg, #561484 0.81%, #741088 99.62%);
    	i, span {
		    position: relative;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    z-index: 1;
		}
    	&:hover:before {
		    width: 100%;
		    height: 100%;
		    opacity: 1;
		}
		&:before {
		    content: '';
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    width: 0;
		    height: 100%;
		    border-radius: inherit;
		    background: linear-gradient(88.33deg, #741088 99.62%, #561484 0.81%);
		    opacity: 0;
		    transition: all .5s;
		}
	}
	.btn.-disabled {
	    background: #7B87A3;
	    opacity: 1;
	}
}

