.footer{
	position: relative;
	padding: 80px 0 60px;
	color: #fff;
	.container{
		position: relative;
	}
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		max-height: 434px;
		background: url(../img/footer-box.png);
		background-repeat: no-repeat;
		background-size: cover;
		pointer-events: none;
		background-position: bottom;
	}
	&:after{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc( 100% + 90px );
		background: url(../img/footer-bg.jpg) no-repeat;
		background-repeat: no-repeat;
		background-size: cover;
		pointer-events: none;
		background-position:bottom center;
		z-index: -1;
	}
	a{
		font-weight: bold;
		font-size: 14px;
		line-height: 21px;
		color: rgba(255, 255, 255, .8);
		&:hover{
			color: #0cc1da;
		}
	}
	&__item{
		position: relative;
		display: inline-block;
		padding: 16px;
		&--border{
			.-top, .-bottom{
				&:before, &:after{
					content: '';
					position: absolute;
					width: 8px;
					height: 8px;
				}
			}
			.-top{
				&:before{
					top: 0;
					left: 0;
					border-top: 2px solid #04A327;
					border-left: 2px solid #04A327;
				}
				&:after{
					top: 0;
					right: 0;
					border-top: 2px solid #04A327;
					border-right: 2px solid #04A327;
				}
			}
			.-bottom{
				&:before{
					bottom: 0;
					left: 0;
					border-bottom: 2px solid #04A327;
					border-left: 2px solid #04A327;
				}
				&:after{
					bottom: 0;
					right: 0;
					border-bottom: 2px solid #04A327;
					border-right: 2px solid #04A327;
				}
			}
		}

	}
	&__title{
		font-weight: 900;
		font-size: 14px;
		line-height: 16px;
		color: #E09B0F;
		margin-bottom: 8px;
	}
	&__logo{
		margin-bottom: 40px;
		img{
			max-width: 450px;
			height: auto;
		}
		&__text{
			margin-top: 8px;
			font-family: Changa;
			font-style: normal;
			font-weight: 800;
			font-size: 54.4798px;
			line-height: 54px;
			/* or 100% */

			text-align: center;
			text-transform: uppercase;

			color: #FFFFFF;

			text-shadow: 0px 1.26697px 1.26697px #034110;
		}
	}

	&__socical{
		display: flex;
		align-items:center;
		li{
			margin-bottom: 10px;
			&:not(:last-child){
				margin-right: 19px;
			}
		}
		a{
			position: relative;
			display: block;
			color: #fff;
			font-weight: 400;
			font-size: 16px;
			transition: all .5s;
			&:hover{

			}
			span{
				position: relative;
			}
		}

	}


	@media (max-width: 1199px){

	}
	@media (max-width: 991px){
		&__logo {
		    margin-bottom: 50px;
		}
	}
	@media (max-width: 767px){
	    margin-top: -180px;
	    padding: 265px 0 48px;
	    text-align: center;
	    &__title{
	    	margin-bottom: 0;
	    }
	    &__logo {
		    margin-bottom: 30px;
		}
	    &__socical {
		    justify-content: center;
		}
	}
	@media (max-width: 575px){

	}
}