.wrap__page{
    position: relative;
}
.sc__header{
    position:relative;margin:0 0 60px;
    z-index: 1;
    &.-green{
        .sc__header__title{
            color: #04A327;
        }
        .sc__header__excerpt{
            color: #053222;
        }
    }
    &__title{
        font-family: Changa;
        font-style: normal;
        font-weight: 800;
        font-size: 72px;
        line-height: 64px;
        text-align: center;
        text-transform: uppercase;

        color: #FFFFFF;

        text-shadow: 0px 2px 2px #034110;

    }
    &__excerpt{
        color:#FFFFFF;
        font-size: 24px;
        line-height: 36px;
    }
    @media (max-width:1399px){
        &__title{font-size:48px;line-height:58px;}
    }
    @media (max-width:991px){
    }
    @media (max-width:767px){
    }
    @media (max-width:575px){
        &__title {
            font-size: 38px;
            line-height: 40px;
            + div{
                margin-top: 8px;
            }
        }
        &__excerpt{font-size:14px;}
    }
}
.btn__marketplace{
    background: linear-gradient(86.77deg, #28224B 3.16%, #2F275C 95.88%);
    border-radius: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 6px 20px;
    &:before{
        content: "\e90b";
        font-family: icomoon;
        color: #12C2D9;
        margin-right: 8px;
    }
    &:hover{
        color: #fff;
        box-shadow: 0 0 2px #fff;
    }
    &.-connect{
        background: linear-gradient(88.33deg, #561484 0.81%, #741088 99.62%);
        &:before{
            content: "\e90d";
            color: #fff;
        }
    }
}
.page__header{

}
// Effect

@-webkit-keyframes lightAnimation{
    0%{-webkit-filter:brightness(1);filter:brightness(1)}
    50%{-webkit-filter:brightness(1.3);filter:brightness(1.3)}
    to{-webkit-filter:brightness(1);filter:brightness(1)}
}
@-webkit-keyframes Mousex{
    from{-webkit-transform:translate(0,0px);}
    65%{-webkit-transform:translate(0,10px);}
    to{-webkit-transform:translate(0,-0px);}
}
@-moz-keyframes Mousex{
    from{-moz-transform:translate(0,0px);}
    65%{-moz-transform:translate(0,10px);}
    to{-moz-transform:translate(0,-0px);}
}
@-webkit-keyframes Mousex2{
    from{-webkit-transform:translate(0,0px);}
    65%{-webkit-transform:translate(0,-10px);}
    to{-webkit-transform:translate(0,-0px);}
}
@-moz-keyframes Mousex2{
    from{-moz-transform:translate(0,0px);}
    65%{-moz-transform:translate(0,-10px);}
    to{-moz-transform:translate(0,-0px);}
}
@-webkit-keyframes lightAnimation2{
    0%{-webkit-filter:brightness(1);filter:brightness(1)}
    50%{-webkit-filter:brightness(1.15);filter:brightness(1.15)}
    to{-webkit-filter:brightness(1);filter:brightness(1)}
}
@-webkit-keyframes translateY30{
    0%{transform:translateY(0);}
    50%{transform:translateY(30px);}
    100%{transform:translateY(0);}
}
@keyframes spinner-rotate{
    to{transform:rotate(360deg);}
}
@keyframes spinner-rotate2{
    to{transform:rotate(-360deg);}
}
@keyframes animate{
    0%{box-shadow:0 0 50px #0F0,inset 0 0 50px #0F0;filter:hue-rotate(0deg);}
    20%{box-shadow:0 0 40px #0F0,inset 0 0 60px #0F0;}
    40%{box-shadow:0 0 40px #0F0,inset 0 0 80px #0F0;}
    60%{box-shadow:0 0 80px #0F0,inset 0 0 80px #0F0;}
    80%{box-shadow:0 0 100px #0F0,inset 0 0 100px #0F0;}
    100%{box-shadow:0 0 50px #0F0,inset 0 0 50px #0F0;filter:hue-rotate(360deg);}
}
.effect-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
    pointer-events: none;
}
.frame--cloubd {
    position: absolute;
    left: 0 !important;
    height: 100%;
    width: 100%;
    bottom: 0 !important;
    margin: 0 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    z-index: -1;
}
.clouds_one {
    background: url(../img/cloud-large.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size:contain;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60%;
    width: 100%;
    -webkit-animation: cloud_one 10s linear infinite;
    -moz-animation: cloud_one 10s linear infinite;
    -o-animation: cloud_one 10s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}
.clouds_two {
    background: url(../img/cloud-large.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size:contain;
    position: absolute;
    left: 0;
    top: 0;
    height: 34%;
    width: 100%;
    -webkit-animation: cloud_one 12s linear infinite;
    -moz-animation: cloud_one 12s linear infinite;
    -o-animation: cloud_one 12s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
}
@-webkit-keyframes cloud_one {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 200%;
  }
}

.pulse {
  // background: rgba(0,0,0,0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  bottom: -15px;
  margin: 11px 0px 0px -12px;
  -webkit-transform: rotateX(55deg);
  -moz-transform: rotateX(55deg);
  -o-transform: rotateX(55deg);
  -ms-transform: rotateX(55deg);
  transform: rotateX(55deg);
}
.pulse:after {
  content: "";
  border-radius: 50%;
  height: 60px;
    width: 100px;
  position: absolute;
  left: -25px;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  box-shadow: 0 0 8px 4px rgba(224, 141, 15, 1);
  animation-delay: 1.1s;
}
@-moz-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  50% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}

.ef--zoomin .dnfix__thumb img{-webkit-transform:scale(1);transform:scale(1);-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out}
.ef--zoomin:hover .dnfix__thumb img{-webkit-transform:scale(1.1);transform:scale(1.1)}
.ef--shine .dnfix__thumb{position:relative;display:block;overflow:hidden}
.ef--shine .dnfix__thumb::before{position:absolute;top:0;left:-75%;z-index:2;display:block;content:'';width:50%;height:100%;background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);background:linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);-webkit-transform:skewX(-25deg);transform:skewX(-25deg)}
.ef--shine:hover .dnfix__thumb::before{-webkit-animation:shine 1s;animation:shine 1s}
@-webkit-keyframes shine{
    100%{left:125%}
}
@keyframes shine{
    100%{left:125%}
}
